# non-redundant bins from dastool (too big to store on github)
playground/10_non-redundant_bins/combined_assembly/output/
playground/10_non-redundant_bins/firstRun/output/
playground/10_non-redundant_bins/secondRun/output/
